@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

body {
	margin: 0;
	background-color: #f5f1df;
	font-family: "Lato", sans-serif;
}

.navigation {
	width: calc(100% - 20px);
	height: 60px;
	background-color: red;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}
.sign {
	height: 60px;
}

.navigation li {
	display: inline;
	padding: 30px;
}

a {
	border-radius: 5px;
	padding: 8px 18px;
}

a.home:hover {
	background-color: blue;
	color: black;
}

a.about:hover {
	background-color: blue;
	color: black;
}

a.skills:hover {
	background-color: blue;
	color: black;
}

header {
	width: 100%;
	height: 100%;
	text-align: center;
}

.wrapper {
	height: 900px;
	width: 90%;
	margin: 0 auto;
	background-color: #c2ba9a;
}

.intro {
	margin-top: 60px;
	margin-bottom: 60px;
	color: #075020;
	text-align: center;
	background-color: aquamarine;
}

.intro h1 {
	font-size: 35px;
}

.introduction {
	background-color: yellow;
	display: flex;
}

.introduction h1 {
	font-size: 25px;
	color: #075020;
}

a.me {
	border-radius: 5px;
	padding: 8px 18px;
	color: #f5efd4;
	background-color: #0c742f;
	font-weight: bold;
}

a.me:hover {
	background-color: #0e8736;
}

.toph img {
	width: 400px;
	justify-content: flex-end;
}

.about {
	margin-top: 200px;
	margin-bottom: 100px;
	text-align: center;
}

.skills {
	margin-top: 200px;
	margin-bottom: 100px;
	text-align: center;
}

